Source: ilwallpapers
Section: devel
Priority: optional
Maintainer: lithid <long.jeremie@gmail.com>
Build-Depends: debhelper (>= 7.4.15)
Standards-Version: 3.9.2
Homepage: N/A

Package: ilwallpapers
Architecture: any
Depends: python, python-gtk2
Description: InterfaceLift Wallpapers daily builds
 Set InterfaceLift wallpapers with a front-end gui
